@model EntertainmentTicketMaster.Models.TicketViewModel
@{
    ViewBag.Title = "Book Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    div.body-content div, div.body-content {
        color: gray;
    }

    #body.home div div, #body.home div div:first-child {
        float: left;
        width: 960px;
    }

    .form-control {
        width: 250px;
        float: left;
    }

    .control-label {
        width: 150px;
        text-align: right;
        float: left;
    }
    div.validation-summary-errors ul li {
        color: #B94A48;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnGetPrice').click(function () {
            ;
		    var eventId = $('#eventId').val();
            $.ajax({
                url:"@Url.Action("GetTicketUnitPriceByEventId", "Tickets")?eventId=" + eventId,
                success: function (data) {
                    var pricePerTicket = data.Price;
                    var numberOfTickets = $('#numberOfTickets').val();
                    var number = parseInt(numberOfTickets);
                    var price = pricePerTicket * number;
                    $('#pricePerTicket').val(pricePerTicket);
                    if (isNaN(number)) {
                        $('#totalPrice').val(0.00);
                        $('#numberOfTickets').val(0);
                    } else {
                        $('#totalPrice').val(Math.round(price * 100) / 100);
                        $('#numberOfTickets').val(numberOfTickets);
                    }

                },
                error: function (jqXHR, errorStatus, error) {
                }
            });
            return false;
		});
        $('#eventId').change(function () {
            ;
            var eventId = $('#eventId').val();
            $.ajax({
                url: "@Url.Action("GetTicketUnitPriceByEventId", "Tickets")?eventId=" + eventId,
                success: function (data) {
                    var pricePerTicket = data.Price;
                    var numberOfTickets = $('#numberOfTickets').val();
                    var number = parseInt(numberOfTickets);
                    var price = pricePerTicket * number;
                    $('#pricePerTicket').val(pricePerTicket);
                    if (isNaN(number)) {
                        $('#totalPrice').val(0.00);
                        $('#numberOfTickets').val(0);
                    } else {
                        $('#totalPrice').val(Math.round(price * 100) / 100);
                        $('#numberOfTickets').val(numberOfTickets);
                    }

                },
                error: function (jqXHR, errorStatus, error) {
                }
            });
            return false;
        });
    });
</script>
<div class="body-content">
    <div>
        <h2>Book tickets</h2>
        <h3>We Have Free Templates for Everyone</h3>
    </div>
    <div>
        <h4>Tickets Now Selling</h4>
    </div>
    <div style="color: white; float: left; width: 50%;">
        @Html.AntiForgeryToken()
        <div id="Dialog-EntertainmentAddress" style='width: auto; text-align: left;'>
            @{ Html.RenderAction("ClientAddress"); }
        </div>
        @using(Html.BeginForm("BookTickets","Tickets")){
        <h4>Booking Tickets.</h4>
        <hr />        

        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.EventName, new { @class = "col-md-2 control-label" })<span style="float: left;">&nbsp;</span>
            @Html.DropDownList("EventName", ViewBag.Events as SelectListItem[], new { @class = "form-control", @id = "eventId" })
            @Html.ValidationMessage("EventName", "*")
            <div>&nbsp;</div>
        </div>
        <div class="form-group">
            @Html.Label("Price per Ticket", new { @class = "col-md-2 control-label" })<span style="float: left;">&nbsp;</span>
            @Html.TextBoxFor(p => p.Price, new { @class = "form-control", @id = "pricePerTicket", @readonly = "true" })
            @Html.ValidationMessage("Price", "*")
            <div>&nbsp;</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NumberOfTickets, new { @class = "col-md-2 control-label" })<span style="float: left;">&nbsp;</span>
            @Html.TextBoxFor(p => p.NumberOfTickets, new { @class = "form-control", @id = "numberOfTickets" })
            @Html.ValidationMessage("NumberOfTickets", "*")
            <div>&nbsp;</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TotalPrice, new { @class = "col-md-2 control-label" })<span style="float: left;">&nbsp;</span>
            @Html.TextBoxFor(p => p.TotalPrice, new { @class = "form-control", @id = "totalPrice", @readonly="true" })
            @Html.ValidationMessage("TotalPrice","*")
            <div>&nbsp;</div>
        </div>
		<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="btn btn-default" value="Get Price" id="btnGetPrice" /><br/><br/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Book tickets" id="btnBookTicket" />
            </div>
        </div>
        }
    </div>
    <div style="float:left;margin-left:1%;width:auto;">
        <img src="@Url.Content("~/Images/paypal_logo.gif")" />
    </div>
    <div style="clear: both;"><br /></div>
</div>
