<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - Entertainment Ticket Master</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/site.css")" type="text/css"/>
    ><link rel="stylesheet" href="@Url.Content("~/css/style.css")" type="text/css"/>
    ><link rel="stylesheet" href="@Url.Content("~/jquery-ui-1.10.3/themes/base/jquery-ui.css")" type="text/css" media="screen" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/jquery-ui-1.10.3/ui/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chart.js")" type="text/javascript"></script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">        stLight.options({ publisher: "7253900c-b2c5-475f-a54d-05a12e8b60c2" }); </script>
    <style type="text/css">
        div#header a.selected {
            color: #AF0000;
        }

        a {
            color: #ae6662;
            text-decoration: none;
        }
        div.validation-summary-errors ul li {
            min-height: auto;
            padding: 0;
            width: auto;
        }
	input[type="button"],input[type="submit"]{
    background-color: #515459;
    background-image: linear-gradient(to bottom, #515459, #3b3c40);
    border: 1px solid #393b3e;
    border-radius: 23px;
    box-shadow: 0 1px 5px #737373;
    color: #8c8c8c;
    display: inline-block;
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(10, 10, 10, 0.5);
	}
	input[type="button"]:hover,input[type="submit"]:hover{
    background-color: #515459;
	color:white;
    background-image: linear-gradient(to bottom, #515459, #b8b8b8);
    border: 1px solid #393b3e;
	}
    </style>
    <script type="text/javascript">
		function validateEmail(email) { 
			var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			return filter.test(email);
		} 
        $(document).ready(function () {
            $('div#header ul>li').each(function () {
                if ($(this).children('a').html() == '@ViewBag.Title') {
                    $(this).children('a').addClass('selected');
                } else {
                    $(this).children('a').remove('class', 'selected');
                }
            });

            $('#SubmitEmail').click(function () {
                var email = $('#EmailAddress').val();
				if(!validateEmail(email))
				{
					alert('This is not a valid email address. Please check the format');
					return false;
				}
                var username = '@Guid.NewGuid().ToString().Substring(0,10)';
                var user = {
                    UserName: username,
                    Password: 'anonymous',
                    Email: email,
                    ConfirmPassword: 'anonymous'
                };
                var userDetails = JSON.stringify(user);

                $.ajax({
                    url: "http://www.martinlayooinc.co.uk/entertainmentticketmaster/api/EmailList/",
                    type: "POST",
                    contentType: "application/json",
                    data: userDetails,
                    success: function (data, textStatus, jqXHR) {
						alert('Your email: '+email+' has been successfully added to the mailing list');
                    },
                    error: function (jqXHR, error, errorThrown) {
						alert('Your email: '+email+' failed addition to mail list: check your email format!!');
                    }
                });
                return false;
            });
        });
    </script>
    @{
        var isAuthenticated = User.Identity.IsAuthenticated;
        var isAdmin = User.Identity.Name.Equals("administrator", StringComparison.OrdinalIgnoreCase);
        var styleAuthenticated = string.Empty;
        var styleNotAuthenticated = string.Empty;
        if (isAuthenticated)
        {
            styleAuthenticated = @"display:inline;";
            styleNotAuthenticated = @"display:none;";
        }
        else
        {
            styleAuthenticated = @"display:none;";
            styleNotAuthenticated = @"display:inline;";
        }
    }
    
</head>
<body>
    <div id="header">
        <div>
            <a href="@Url.Action("Index","Home")" id="logo"><img src="@Url.Content("~/images/logo.png")" alt="">></a>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Events", "Tickets")">Events</a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Events", "Tickets")">Now Showing</a>
                        </li>
                        <li>
                            <a href="@Url.Action("EventComingSoon", "Tickets")">Comming Soon</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("TicketsInfo","Tickets")">Ticket Info</a>
                </li>
                <li>
                    <a href="@Url.Action("BookTickets", "Tickets")">Book Tickets</a>
                </li>
                <li>
                    <a href="@Url.Action("About","Home")">About</a>
                </li>
                <li>
                    <a href="@Url.Action("Blog","Blogs")">Blog</a>
                </li>
                <li style="@styleNotAuthenticated">
                    <a href="@Url.Action("Login","Account")">Login</a>
                    <ul style="width: 120px;">
                        <li>
                            <a href="@Url.Action("ResetPassword", "Account")">Reset Password</a>
                        </li>                        <li>
                            <a href="@Url.Action("Register", "Account")">Register</a>
                        </li>
                    </ul>
                </li>
                <li style="@styleAuthenticated">
                    <a href="@Url.Action("LogOff", "Account")">Logout</a>
                    <ul>
                        <li>
                            <a href="@Url.Action("ChangeEmail","Account")">Change Email</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangePassword","Account")">New Password</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="social-network" style="height: auto;">
                <div style="margin-top: 10px; margin-right: 20px;margin-bottom:20px;padding:10px;">
                    <span class='st_facebook_hcount' displaytext='Facebook'></span><span class='st_twitter_hcount' displaytext='Tweet'></span><span class='st_linkedin_hcount' displaytext='LinkedIn'>
                    </span><span class='st_email_hcount' displaytext='Email'></span>
                    <span style="color:silver;font-weight: bolder;">&nbsp;
                        @{
                            var display = string.Empty;
                            if (isAuthenticated)
                            {
                                display = "Logged in as: " + User.Identity.Name;
                            }
                        }
                        @display</span>
                    <span style="color:silver;font-weight: bolder;">
                        &nbsp;
                        @{
                            if (isAdmin)
                            {
                                <a href="@Url.Action("Index","Administration")">Site Administration </a>
                            }
                        }
                    </span>

                </div>
                <div class="clearfix">
                    <br />
                </div>
            </p>
        </div>

    </div>
    <div class="clearfix">
        <br />
    </div>
    <div id="body" class="home">
        @RenderBody()
    </div>
    <div><br/></div>
    <div style="text-align: center;font-size:small;font-weight: bolder;">
        <a style="color: #ae6662; font-weight: bolder;" onmouseover="this.style.color = 'orange';" onmouseout="this.style.color = '#ae6662';" href="http://www.martinlayooinc.co.uk">Site Developed by MartinLayooInc. Software &copy; 2007 - 2015</a>
    </div>
    <div id="footer">
        <div>

            <div>
                <span>Quick Links</span>
                <ul>
                    <li>
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("TicketsInfo","Tickets")">Ticket Info</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Events", "Tickets")"> now showing</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact","Home")">Contact</a>
                    </li>
                    <li>
                        <a href="@Url.Action("EventComingSoon", "Tickets")">Comming Soon</a>
                    </li>
                    <li>
                        <a href="@Url.Action("About","Home")">The Company</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Blog","Blogs")">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="section">
                @{ Html.RenderPartial("_PartialTwitter");}
            </div>
            <div>
                <span>Sign Up For Our Mailing List</span>
                <p>
                    Praesent at urna ac urna congue convallis. Maecenas sed placerat turpis. Duis in dolor ut nibh molestie faucibus.
                </p>
                <form action="about.html">
                    <input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here" id="EmailAddress">
                    <input type="submit" value="" id="SubmitEmail">
                </form>
            </div>
            <p>
                &#169; 2023 Cinema Theatre
            </p>
            <div class="connect">
                <span>Stay Connected:</span> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
            </div>
        </div>

    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
