@{
    ViewBag.Title = "Home";
}
    <div>
        <div>
            <a href="@Url.Action("Index","Home")" ><img src="/images/baby-with-dog.jpg" alt=""></a>
            <h2><a href="@Url.Action("Index","Home")" >Movie Title</a></h2>
            <p>
                This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
            </p>
            <a href="@Url.Action("Index","Home")" >Read More</a>
        </div>
        <ul>
            <li>
                <h3>Movie Title</h3>
                <span>Cinema 2</span> <a href="@Url.Action("Index","Home")" ><img src="/images/surfer.jpg" alt=""></a>
            </li>
            <li>
                <h3>Movie Title</h3>
                <span>Cinema 3</span> <a href="@Url.Action("Index","Home")" ><img src="/images/soldiers.jpg" alt=""></a>
            </li>
            <li>
                <h3>Movie Title</h3>
                <span>Cinema 4</span> <a href="@Url.Action("Index","Home")" ><img src="/images/ballet-dancer.jpg" alt=""></a>
            </li>
        </ul>
    </div>
<div>
    <div>
        <h3><a href="@Url.Action("Blog","Blogs")" >From The Blog</a></h3>
        <ul>
            <li>
                <a href="@Url.Action("Blog","Blogs")" ><img src="/images/trainor.jpg" alt=""></a>
                <div>
                    <span>Posted on August 8, 2023 by Admin</span>
                    <h4>Blog Post Title One</h4>
                    <p>
                        Donec odio nunc, consectetur fringilla tincidunt nec, cursus vitae ipsum. <a href="@Url.Action("Blog","Blogs")"  class="more">Read More</a>
                    </p>
                </div>
            </li>
            <li>
                <a href="@Url.Action("Blog","Blogs")" ><img src="/images/lava.jpg" alt=""></a>
                <div>
                    <span>Posted on August 8, 2023 by Admin</span>
                    <h4>Blog Post Title Two</h4>
                    <p>
                        Donec odio nunc, consectetur fringilla tincidunt nec, cursus vitae ipsum. <a href="@Url.Action("Blog","Blogs")"  class="more">Read More</a>
                    </p>
                </div>
            </li>
            <li>
                <a href="@Url.Action("Blog","Blogs")" ><img src="/images/castle.jpg" alt=""></a>
                <div>
                    <span>Posted on August 8, 2023 by Admin</span>
                    <h4>Blog Post Title One</h4>
                    <p>
                        Donec odio nunc, consectetur fringilla tincidunt nec, cursus vitae ipsum. <a href="@Url.Action("Blog","Blogs")"  class="more">Read More</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
